# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Configuration locale et secrets
.streamlit/secrets.toml
.env

# Fichiers de données volumineux (IMDB / AniList)
*.pkl
*.xlsx

# Logs et OS
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.ipynb_checkpoints/
/AniList/*
/IMDB/*

*.csv
*.tsv